<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="student/base::layout(~{::section},~{::title},~{::style},~{::script})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Login</title>
    <style>
      section {
        height: 100vh;
        overflow: hidden; /* Prevent scrolling on the background */
        background-color: skyblue;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card-body{
        box-shadow: 10px 10px 10px deepskyblue;
      }

    </style>
    <link rel="stylesheet" href="#">
  </head>
  <body>
  <section class="vh-100 vw-100">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col col-md-4">
          <div class="card mb-4" style="border-radius: 1rem;">
            <div class="row g-0">

              <div class=" align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form method="post" th:action="@{/student/process-login}">

                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0" style="font-family: 'Droid Sans'; font-size: 38px">STUDENT LOGIN</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; font-family: 'Comic Sans MS'">Sign into your account</h5>

                    <p th:if="${param.error}" class="text-danger">Invalid Username or Password</p>
                    <p th:if="${param.logout}" class="text-success">You have been logout</p>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" id="rollNo" name="username" class="form-control form-control-lg" />
                      <label class="form-label" for="RollNo">RollNo</label></div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="form2Example27" name="password" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27">Password</label>
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="btn btn-block" style="background-color: midnightblue; color: white" type="submit">Login</button>
                    </div>

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script></script>
  </body>
</html>
