<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="admin/base::layout(~{::section},~{::title},~{::style},~{::script})"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Backlog Students</title>
    <style></style>
</head>
<body>
<section>

    <div class="text-center mb-4 mt-3">
        <button class="btn btn-secondary mx-1" onclick="fetchAndDisplayStudents('all')">All</button>
        <button class="btn btn-secondary mx-1" onclick="fetchAndDisplayStudents('2021')">2021</button>
        <button class="btn btn-secondary mx-1" onclick="fetchAndDisplayStudents('2022')">2022</button>
        <button class="btn btn-secondary mx-1" onclick="fetchAndDisplayStudents('2023')">2023</button>
        <button class="btn btn-secondary mx-1" onclick="fetchAndDisplayStudents('2024')">2024</button>
        <button class="btn btn-secondary mx-1" onclick="fetchAndDisplayStudents('2025')">2025</button>
    </div>

    <div class="container flex-fill" style="width: 1250px">
        <div class="container mt-5">
            <h2 class="mb-4 text-center">Students With Current Backlog</h2>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center">Year</th>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Backlog</th>
                    <th class="text-center">backlog subjects</th>
                    <th class="text-center">Current Backlog</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s:${students}" th:if="${s.backlog}" th:data-year="${s.year}" style="cursor: pointer;"
                    th:data-url="@{'/admin/student/details/'+${s.rollNo}}"
                    onclick="window.location.href=this.getAttribute('data-url')">

                    <td class="text-center" th:text="${s.year}">1</td>
                    <td class="text-center" th:text="${s.rollNo}">1</td>
                    <td class="text-center" th:text="${s.name}">himanshu</td>
                    <td class="text-center" th:text="${s.phone}">7709638870</td>
                    <td class="text-center" th:text="${s.email}">h@123</td>
                    <td class="text-center" th:text="${s.backlog?'yes':'no'}"></td>
                    <td class="text-center" th:text="${s.backSub}">sub</td>
                    <td class="text-center" th:text="${s.currentBacklog}">current backlog</td>

                </tr>

                <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>

    // Function to filter and display students
    function fetchAndDisplayStudents(year) {
        const rows = document.querySelectorAll('tbody tr');  // Select all table rows

        rows.forEach(row => {
            const studentYear = row.getAttribute('data-year');  // Get the student's year from the data-year attribute

            console.log(studentYear);


            if (year === 'all' || studentYear === year) {
                row.style.display = '';  // Show row if year matches or if 'all' is selected
            } else {
                row.style.display = 'none';  // Hide row if year doesn't match
            }
        });
    }
</script>
</body>
</html>
