.acc {
    color: black;
}

#sidebar {
    height: 120vh;
    margin-top: 3px;
    background-color: lightblue;
}

section div nav ul li :hover {
    cursor: pointer;
    background-color: cornflowerblue;
}