<!DOCTYPE html>
<html lang="en" th:fragment="parent(section,title,script,style)"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Base</title>
    <style>
        section {
            height: 100vh;
            overflow: hidden; /* Prevent scrolling on the background */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .active{
            background-color: #2a303c;
            color: white;
        }

    </style>
    <style th:replace="${style}"></style>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="https://unpkg.com/bs-brain@2.0.4/components/logins/login-4/assets/css/login-4.css"
    />
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
            rel="stylesheet"
    />
    <link rel="icon" type="image/ico" th:href="@{/img/favicon.ico}">
</head>
<body>

<!-- navbar start -->
<nav class="navbar navbar-expand-lg" style="background-color: lightblue">
    <div class="container-fluid">

        <a th:unless="${loggedInUser}" class="navbar-brand" th:href="@{/}" style="text-decoration: none">
            <img th:src="@{/img/sb.jpg}" style="width: 30px" alt=""/>
            <div class="d-none d-lg-inline" style="color: black">
                S.B. Jain Institute of Technology and Management Research
            </div>
            <div class="d-inline d-lg-none text-black">S.B. Jain Institute</div>
        </a>

        <!-- Navbar toggler (hamburger menu) -->
        <button
                class="navbar-toggler"
                style="background-color: white;"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Navbar collapse -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li th:unless="${loggedInUser}" class="nav-item" >
                    <a th:href="@{/}" class="nav-link text-white" >
                        <button id="home-btn" class=" btn" th:data-url="${currentUrl}" style="background-color: white;color: black">HOME</button>
                    </a>
                </li>
                <li th:unless="${loggedInUser}" class="nav-item" >
                    <a th:href="@{/admin/login}" class="text-white nav-link">
                        <button class="btn" style="background-color: white;color: black">ADMIN LOGIN</button>
                    </a>
                </li>
                <li th:unless="${loggedInUser}" class="nav-item" >
                    <a th:href="@{/student/login}"  class="text-white nav-link">
                        <button class="btn" style="background-color: white;color: black">Student login</button>
                    </a>
                </li>
                <li th:if="${loggedInUser}" class="nav-item">
                    <a th:href="@{/logout}" class="btn btn-danger text-white nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- navbar end -->



<div class="container-fluid" th:replace="${section}"></div>


<script>


    document.addEventListener('DOMContentLoaded',function (){


            const button = document.getElementById('home-btn');

            console.log(button)

            if (button) {

                const url = button.getAttribute('data-url');

                console.log(url)


                if (url === '/') {

                    button.style.backgroundColor = '#2a303c';
                    button.style.color = 'white';

                } else {

                    button.style.backgroundColor = 'white';
                    button.style.color = 'black';

                }

            }



    })



</script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"
></script>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
<script th:replace="${script}"></script>
</body>
</html>