<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Error Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #ff0000;
        }

        .img{
            width: 300px;
        }


    </style>
</head>
<body>
    <img th:src="@{/img/error.png}" class="img">
    <h1>An error occurred</h1>
    <p th:text="${error}" th:if="${error}"></p>
    <p>Sorry for the inconvenience. Please try again later.</p>
    </body>
</html>
